* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: "Inter", sans-serif;
    color: #030712;
    background-color: #fff;
}
.page-heading {
    font-size: 1.125rem !important;
    font-weight: 700;
}